/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	min-width:580px;
	width: auto !important;
}

.side_bar {
	min-width:240px;
}

.card-footer {
  padding: 0.45rem 1.25rem;
}

.alert-info {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.alert.alert-danger {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.list-group .list-group-item.active span {
	color: #007bff;
	background-color: #fff;
}

.side_bar {
  // padding-right: 0;
	padding-left: 0;

	.list-group .list-group-item {
		padding: 0.45rem 1.25rem;
	}
}

.params_row {
	background-color: #f7f7f7;
}

.graph {
	min-width:499;
}

.add-prams-links svg.octicon {
	margin-bottom: -3px;
}